[submodule "da00_chopstick_data_analysis"]
	url = https://github.com/BarbaraJoebstl/da00_chopstick_data_analysis
	path = da00_chopstick_data_analysis
[submodule "da3_open_street_map"]
	url = https://github.com/BarbaraJoebstl/da3_open_street_map
	path = da3_open_street_map
[submodule "da0_babs_data_analysis"]
	path = da0_babs_data_analysis
	url = https://github.com/BarbaraJoebstl/da0_babs_data_analysis
[submodule "da1_stroop_effect_analysis"]
	path = da1_stroop_effect_analysis
	url = https://github.com/BarbaraJoebstl/da1_stroop_effect_analysis
[submodule "da2_the_unsinkable_titanic"]
	path = da2_the_unsinkable_titanic
	url = https://github.com/BarbaraJoebstl/da2_the_unsinkable_titanic
[submodule "da4_eda_loans"]
	path = da4_eda_loans
	url = https://github.com/BarbaraJoebstl/da4_eda_loans
[submodule "da5_fraud_detection"]
	path = da5_fraud_detection
	url = https://github.com/BarbaraJoebstl/da5_fraud_detection
